
    body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    overflow: hidden;
    }

    @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    }

    @keyframes sweep {
    from { transform: translateX(-120%) rotate(20deg); }
    to { transform: translateX(220%) rotate(20deg); }
    }

    @keyframes float {
    from { transform: translateY(100vh); opacity: .4; }
    to { transform: translateY(-120vh); opacity: 0; }
    }

    .hero {
    height: 100vh;
    position: relative;

    background: linear-gradient(
        120deg,
        #020617,
        #020617,
        #050914,
        #000000,
        #020617
    );

    background-size: 500% 500%;
    animation: gradient 30s ease infinite;
    }

    .light {
    position: absolute;
    width: 40%;
    height: 200%;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.15),
        transparent
    );

    animation: sweep 12s linear infinite;
    }

    .particle {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    opacity: .3;
    animation: float linear infinite;
    }

    .glass {
    background: rgba(255,255,255,.10);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,.20);
    }
    .show-success {
    transform: scale(1) !important;
    opacity: 1 !important;
}